@import 'app/styles/partials/_utils';
.header-wrapper {
  background-color: $color_iron;
  .header-user-container {
    background-image: url("../../assests/images/header-background.jpg");
    padding: 0.5rem 0 0.25rem 0.5rem;
    border-bottom: 4px solid $color_red;
  }
}

.primary-header-user-container {
  background-image: url("../../assests/images/header-background.jpg");
}

.header-wrapper {
  img {
    float: left;
    height: 1.5rem;
  }
  .header-user-container {
    p {
      font-size: 1.5rem;
    }
    a {
      text-align: center;
      margin-right: 1.5rem;
    }
  }
  .header-logo {
    display: inline-block;
  }
  .header-button {
    display: inline-block;
    float: right;
  }
  .dropdown-button {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    width: auto;
    padding: 0;
  }
  .login-button {
    width: 12rem;
    margin: 0.5rem auto;
  }
  .dropdown-icon {
    float: right;
    height: 0.5rem;
    padding-top: 1rem;
  }
  .dropdown-primary {
    margin: 0.25rem 0 0 0;
  }
  .profile-pic {
    height: 2.25rem;
    border-radius: 4px;
  }
  span {
    font-size: 1.25rem;
  }
  .dropdown-primary span {
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.75rem;
    margin-left: 0.25rem;
  }
  .dropdown-content {
    a:hover {
      background-color: #fff;
    }
    right: 0;
    width: 11.25rem;
    margin-top: -0.5rem;
  }
  .header-dropdown {
    margin-top: 0;
  }
  .profile-login-button {
    display: none;
  }
  .header-button-image {
    background: transparent;
    border: transparent;
    margin-top: 1rem;
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .header-wrapper {
    .header {
      height: 3rem;
    }
    .header-dropdown-hidden {
      display: block;
    }
    .login-button {
      display: none;
    }
    .header-dropdown-hidden {
      height: 3rem;
    }
    .header-button-image {
      background: transparent;
      border: transparent;
      display: none;
    }
    .header-logo {
      margin: 0 0.5rem;
      margin-top: 0.25rem;
      margin-left: 2rem;
    }
    .profile-pic {
      margin-left: 0.25rem;
    }
    .dropdown-icon {
      display: none;
    }
    span {
      font-size: 1.75rem;
    }
    .dropdown-primary {
      display: block;
    }
    .profile-login-button {
      display: inline-block;
    }
  }
}