<div class="delete-questions">
    <div class="bg-container">
        <p class="pop-up-heading">DELETE QUESTION
            <img id="crossDelete" class="cross-button" src="app/assests/images/cross-button.png" alt="cross-button" />
        </p>
        <p class="delete-statement">Are you sure you want to delete this question?</p>
        <div class="button-link">
            <button id="yesDelete" class="button button-primary">Yes</button>
            <button id="noDelete" class="button button-primary">No</button>
        </div>
    </div>
</div>