<div class="dashboard-wrapper">
    <h1>DASHBOARD</h1>
    <div class="heading color-white">
        <h2>Services Available</h2>
        <p>Click on the link for quick access to the services</p>
    </div>

    <div class="link-wrapper">

        <div class="link-block color-white">
            <a class="link color-white" href="#createTest" aria-label="Create Test Page" class="createTest">
                <img class="icon" src="app/assests/images/create-test-icon.jpg" alt="createTestImage">
                <p class="content">
                    <span class="first-block">Create Test</span>
                    <img class="seperator" src="app/assests/images/link-block-dash.png" alt="dashImage">

                    <span class="second-block">Lorem impsum dolor</span>
                </p>

            </a>
        </div>

        <div class="link-block color-white">
            <a class="link color-white" href="#modifyTest" aria-label="Modify Test Page" class="modifyTest">
                <img class="icon" src="app/assests/images/modify-test-icon.jpg" alt="modifyTestImage">
                <p class="content">
                    <span class="first-block">Modify-test</span>
                    <img class="seperator" src="app/assests/images/link-block-dash.png" alt="dashImage">

                    <span class="second-block">Lorem impsum dolor</span>
                </p>

            </a>
        </div>

        <div class="link-block show-results-wrapper color-white" class="showResult">
            <a class="link color-white" href="#showResults" aria-label="Show Result Page">
                <img class="icon" src="app/assests/images/show-results-icon.jpg" alt="showResultImage">
                <p class="content">
                    <span class="first-block">Show Results</span>
                    <img class="seperator" src="app/assests/images/link-block-dash.png" alt="dashImage">
                    <span class="second-block">Lorem impsum dolor</span>
                </p>


            </a>
        </div>
    </div>

</div>