<div class="nav-wrapper">
    <nav class="nav-primary">
        <div class="nav-adjust main-container nav-container">
            <a class="nav-link color-white dashboard" href="#interviewerDashboard">DASHBOARD</a>
            <a class="nav-link color-white" id="createTest" href="#createTest">CREATE TEST</a>
            <a class="nav-link color-white modify-test" href="#modifyTest">MODIFY TEST</a>
            <a class="nav-link color-white show-result" href="#showResults">SHOW RESULT</a>
        </div>
    </nav>
</div>