<div class="instruction">
    <div class="bg-container container color-white">
        <h1 class="heading">INSTRUCTIONS</h1>
        <div class="content">
            <p>The test will begin after you click on begin test button. Once you begin the test the timer will start.</p>
            <p>
                <span>Kindly read the instructions given below.</span>
            </p>
        </div>
        <ul class="list">
            <li>There are 3 sections - HTML, CSS, JAVASCRIPT.</li>
            <li>First you have to complete the HTML section then CSS then JAVASCRIPT.</li>
            <li>There are 10 questions in each section.</li>
            <li>You will get 30 seconds for each questions.</li>
            <li>You cannot navigate to previous question or previous section.</li>
        </ul>
        <button id="beginTest" class="button button-primary begin-button">BEGIN TEST</button>
    </div>
</div>